<div class="centered-content">
    <div class="task-manager-container">
        <div class="sidebar has-background-white">
            <h1 class="title has-text-primary">
                <a href="/">Perfiles</a>
            </h1>

            <div class="list-menu escroll">
                <a class="list-menu-item" *ngFor="let perfil of perfiles" [routerLink]="['/perfiles', perfil.idPerfil]" routerLinkActive="is-active">
                    <p>{{ perfil.username }}</p>
                </a>
            </div>

            <button class="button is-primary has-text-white" routerLink="/new-scrap">+ Nuevo Perfil</button>
        </div>
        <div class="task-list-container has-background-light">
            <h1 class="title has-text-primary">
                Información
            </h1>
        </div>
    </div>
</div>
